name: Build on PR
on:
  pull_request:
    types:
      - closed
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      # Add your build and test steps here
      - name: Compile C++ code
        run: |
          yarn
          yarn run compile

      - name: Test C++ code
        run: |
          yarn run exec
